@charset "UTF-8";

#search_tag {
	background-color: #5f9ea0;
	display: flex;
	color: white;
	border: 1px 1px 1px 1px;
	margin-top: 1em;

}

.Title_Result {
	font-family: "Segoe Print";
	text-align: center;
	color: #2f4f4f;

}
.title {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.img_title {
	font-family: "Segoe Print";
	color: #2f4f4f;
}

.searchmemu{
	margin: 0 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

}
.resultlist{
	border: 1px solid #333;
	margin: 2px 5px;
}
main img {
	width:200px;
	height:200px;
}