@charset "UTF-8";

h50{
	font-family: "Segoe Print";
	font-size:5.6rem;
	text-align: center;
	color:#222222;
	/*color:#333333;*/
	/*color:#2F4F4F;*/
}
h30{
	font-size:1.0rem;

}
.buttonBack{
	position:relative;
	top:75px;

}
main{
	text-align: center;
}