@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

h50{
	font-family: "Segoe Print";
	font-size:5.6rem;
	text-align: center;
	color:#222222;
	/*color:#333333;*/
	/*color:#2F4F4F;*/
}
h30{
	font-family: 'Noto Sans Japanese', sans-serif;
	font-size:1.0rem;

}
.buttonBack{
	font-family: "Calibri";
	position:relative;
	top:75px;

}
main{
	text-align: center;
}