@charset "UTF-8";
.search_hidden {
	display: none;
}

.search_content {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 100%;
	z-index: 97;
	background: #fff;
	transition: .3s;
}

#search_input:checked ~ .search_content {
	top: 50%;
}

.search {
	background-color: #ffb6c1;
	width: 50px;
	height: 50px;
	margin-right: 50px;
	display: block;
	border-radius: 50%;
	z-index: 96;
	position: fixed;
	bottom: 15px;
	right: 1px;
	border: 1px solid #333;
}

.btn {
	width: 28px;
	height: 23px;
	background: lightgray;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 10px;
	right:-15px;
}

.search_submit {
	color: #333;
	width: 40px;
	background: lightgray;
	transition: .4s;
	border: none;
	color: white;
	box-shadow: 7px 7px 7px rgba(0,0,0,0.6);
	position: absolute;
	top: 290px;
	right:20px;
}

.search_submit:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0);
}

#ItemSearch{
	margin: 0;
	display: flex;
	flex-flow: column;
	text-align: center;
	justify-content: space-around;
	border: 1px solid #C0C0C0;
}
main img {
	width:200px;
	height:200px;
}
.searchmemu{
	margin: 0 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

}
.searchlist{
	border: 1px solid #333;
	margin: 2px 5px;
}
.searchitems{
	border-bottom: 1px dashed #C0C0C0;
}
td{
	height: 72px;

}
td label{
	margin: 0 25px;
}
.searchtitle{
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background: #333;
	font-size:25px;
	width:300px;
}
.category{
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background: #333;
	font-size:1em;
	width:300px;
	margin-top: 20px;
	margin-bottom: 23px;
}
