@charset "UTF-8";
.search_hidden {
	display: none;
}

.search_content {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 100%;
	z-index: 97;
	background: #fff;
	transition: .3s;
	display: block;

}

#search_input:checked ~ .search_content {
	top: 50%;
}

.search {
	background-color: #ffb6c1;
	width: 50px;
	height: 50px;
	margin-right: 50px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	z-index: 96;
	position: fixed;
	bottom: 50px;
	right: 1px;
	border: 1px solid #333;
}

.btn {
	width: 28px;
	height: 23px;
	background: lightgray;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}

.search_submit {
	color: #333;
	background: lightgray;
	transition: .4s;
	border: none;
	color: white;
	box-shadow: 7px 7px 7px rgba(0,0,0,0.6);
}

.search_submit:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0);
}

#ItemSearch{
	margin: 0 200px;
	display: flex;
	flex-flow: column;
	text-align: center;
	justify-content: space-around;
}
main img {
	width:200px;
	height:200px;
}
.searchmemu{
	margin: 0 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

}
.searchlist{
	border: 1px solid #333;
	margin: 2px 5px;
}
