@charset "UTF-8";


.item_place {
    width: 200px;
    height: 200px;
}

#item_image {
    text-align: center;
}

.category {

	display: inline-block;

}

.categorybox {
	text-align: center;
}

.text {
	float:left;
	margin-right: 5px;
	margin-left: 300px;
}

table {
	margin: auto;
	text-align: right;
}

.iteminfo {
	font-family: "bold";
	text-align: center;
	margin: auto;
}

#category {
	text-align: left;
}