@charset "UTF-8";

main {
	font-size: 20px
}

.login {
	font-family: "Segoe Print";
	text-align: center;
	font-size: 20px
}

table {
	text-align: right;
	padding-right: 55px;
	margin: auto;
	margin-bottom: 35px;
}

.box {
	width: 200px;
	box-shadow:0px 0px 2px 4px rgba(0, 0, 0, 0.15) inset;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align:center;
}

.line{
	border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #808080;
    text-align: center;
}

/*ログインの新規登録URL*/
.href {
	text-align: center;
	text-decoration: underline;
}

a:hover {
	color:  #808080;
}

.newuser {
	color: black;
	font-size: 12px
}

#error_message {
	color: red;
	font-size: 15px;
}