@charset "UTF-8";
#side_by_side{
	display: flex;
}
#itemform{
	width: 50%;
}
#allitemimage{
	width: 50%;
}
#uploadbutton{
	text-align: right;
}
#imageplace{
	text-align: center;
}
#uploadimage{
	width: 200px;
	height: 200px;
}

.label#upbtn{

    padding: 10px 40px;
    color: #ffffff;
    background-color: #C0C0C0;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}
#iteminfo{
	font-size: 20px;
	position:relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 50px;
}
#season_select{
	position:relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 80px;
	width: 100px;
}
#scene_select{
	position:relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 80px;
}
#item_add{
	position:relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 60px;
}
#coordinate_add{
	text-align: right;
	margin-right: 20px;
	margin-top: 10px;
}

.garments {
	margin-left: 80px;
}

#category {
	margin-left: 50px;
}

.category {
	margin-top: 10px;
}

.label {
	margin-right: 5px;
}