@charset "UTF-8";
#side_by_side{
	display: flex;
}
#iteminfo{
	font-size: 20px;
	position:relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 50px;
}
#category{
	position:relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 80px;
	width: 100px;
}
#brand{
	position:relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 150px;
}
#size{
	position:relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 150px;
}

#memo{
	position:relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}
#remarks{
	display: flex;
	margin: 0px 0px 0px 150px;
}
/*#remarks p{
	position:relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 150px;
}
*/
#remarks textarea{
 resize: none;
  width:250px;
  height:170px;
}

#regibtn{
	text-align: right;
	margin-right: 160px;
}
#uploadbutton{
	text-align: right;
	margin-right: 120px;
}
#imageplace{
	text-align: center;
}
#uploadimage{
	width: 200px;
	height: 200px;
	margin-top: 10px;
}

.label#upbtn{

    padding: 10px 40px;
    color: #ffffff;
    background-color: #C0C0C0;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

#div{
	margin-left: 250px;
}